.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.css-1ygil4i-MuiToolbar-root{
  background-color: white;
}
.css-27y8xl-MuiToolbar-root{
  background-color: white;
}
.MuiToolbar-root 
{
  background-color: white !important
}
.css-1f0s1m3 {
  padding: 0px !important;
}
.css-k008qs {
  width: 100%;

}
.css-16pyy2p{
  width: 100%;
}
.css-1xlro2s {
padding: 0px !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
